@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  /* Purple */
  --color-purple-50: #7c3aed;
  --color-purple-100: #a855f7;
  --color-purple-200: #bf46ef;
  --color-blue-300: #1877F2;

  /* Gradient */
  --color-gradient: linear-gradient(
    90deg,
    var(--color-purple-50),
    var(--color-purple-200),
    var(--color-purple-100),
    var(--color-blue-300)
  );
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open sans', sans-serif;
  background:var(--color-gradient);
}

button {
  cursor: pointer;
}
